  <!--FOTOS 2 X 3!-->
  <div class="card-group">
    <div class="card">
      <img src="assets/images/2.jpg" class="card-img-top" alt="...">
    </div>
    <div class="card" style="margin:5px;">
      <img src="assets/images/4.jpg"class="card-img-top" alt="...">
    </div>
    <div class="card" style="margin:5px;">
      <img src="assets/images/17.jpg" class="card-img-top" alt="...">
    </div>
  </div>

  <div class="card-group" style="margin:5px;">
    <div class="card" style="margin:5px;">
      <img src="assets/images/32.jpg" class="card-img-top" alt="...">
    </div>
    <div class="card" style="margin:5px;">
      <img src="assets/images/36.jpg"class="card-img-top" alt="...">
    </div>
    <div class="card" style="margin:5px;">
      <img src="assets/images/37.jpg" class="card-img-top" alt="...">
    </div>
  </div>
<div>
