
<!--BOTON DE UBICACIÓN!-->
<div style="text-align: center; margin-top:10px;">
    <p class="card-text" style="margin-top: 40px; font-family: Julius; font-weight: bold;">Tocá el botón de abajo para recibir indicaciones de cómo llegar</p>
    <div class="example-button-row">
      <a mat-raised-button style="border: none; border-radius: 100px; background-color: #b2cbb1; font-family: Julius; font-weight: bold;" target="_blank" href="https://www.google.com.ar/maps/place/Las+Casuarinas/@-34.9655389,-57.9595753,17z/data=!4m5!3m4!1s0x95a2e8f97cba46b1:0x87d586b1f32f3b5c!8m2!3d-34.9634558!4d-57.9563263">UBICACIÓN A "LAS CASUARINAS"</a>
    </div>
  </div>
  
  <div class="container text-center py-5" style="padding-right: 0px; padding-left: 0px">
    <div class="card-columns mt-4">
      <div class="card" >
        <img class="card-img-top" src="assets/images/portada2.jpg">
      </div>
    </div>
