<router-outlet></router-outlet>

<!--IMAGEN PRESENTACIÓN!-->

<div class="card bg-dark text-white">
  <img src="assets/images/portada.jpg" class="card-img" alt="...">
</div>

<!--APLICACIÓN DE CONTADOR!-->
<app-timer></app-timer>

<!--ICONOS DE CEREMONIA Y FIESTA!-->
<div class="container text-center" style="margin-top: 20px; display: flex; justify-content: center">
  <!--<div class="card mt-2 text-center">!-->
    <div class="card-body" style="width:10%">
      <img src="assets/icons/iglesia.png" style="max-width:35%">
      <h5 class="card-title" style="margin-top:30px; font-family: Julius; font-weight: bold;">Ceremonia</h5>
      <p class="card-text" style="font-family: Julius; font-weight: bold;">La ceremonia se realizará el 12 de Febrero a las 19:00 horas en las casuarinas</p>
    </div>


    <div class="card-body" style="width:10%">
      <img src="assets/icons/fiesta.png" style="max-width:35%">
      <h5 class="card-title" style="margin-top:30px; font-family: Julius; font-weight: bold;">Fiesta</h5>
      <p class="card-text" style="font-family: Julius; font-weight: bold;">Después de la ceremonia festejaremos en el mismo lugar</p>
    </div>
  <!--</div>!-->
</div>

<app-ubicacion></app-ubicacion>

<app-carousel></app-carousel>

<!--CONFIRMACIÓN DE ASISTENCIA!-->  
<div style="margin-top: 40px; text-align: center">
  <h1 style="font-family: Julius; font-weight: bold">¡Esperamos que seas parte de esta gran celebración!</h1>
  <div class="example-button-row">
    <a mat-raised-button style="border: none; border-radius: 100px; background-color: #b2cbb1; font-family: Julius; font-weight: bold" target="_blank"href="https://docs.google.com/forms/d/e/1FAIpQLSf9FURwQpY1i8ymxGe209YIFFe0Za8VLVkZS9aMSYZYNuQwJg/viewform?usp=sf_link">DÉJANOS TUS COMENTARIOS</a>
  </div>
</div>

<app-regalo></app-regalo>

<app-alojamientos></app-alojamientos>

<app-footer></app-footer>