<section class="mt-5">
<div class="coming-soon">
  <div class="time-countdown">
   <div style="margin-top: 30px;">
     <p>Faltan</p>   
  </div>    
  <div class="row align-items-center" style="--bs-gutter-x: -0.5rem;">
    <div class="col">
      <div>{{day}}</div>
      <h1>Dias</h1>
    </div>
    <div class="col">
      <div>{{hours}}</div>
      <h1>Horas</h1>
    </div>
    <div class="col">
      <div>{{minutes}}</div>
      <h1>Min</h1>
    </div>
    <div class="col">
      <div>{{seconds}}</div>
      <h1>Seg</h1>
    </div>
  </div>

</div>
</div>
</section>
